.home{
    background-image: url('https://images.pexels.com/photos/1103970/pexels-photo-1103970.jpeg?cs=srgb&dl=pexels-johannes-plenio-1103970.jpg&fm=jpg');
    
}
h1 {text-align: center;
text-decoration: underline;
padding: 410px;
text-decoration-color: rgb(17, 17, 18);}